.App {
	font-family: "Poppins", sans-serif;
}

.App .container-fluid {
	padding-bottom: 80px;
	background: linear-gradient(
		109.6deg,
		rgb(33, 25, 180) 11.2%,
		rgb(253, 29, 29) 55.2%,
		rgb(252, 176, 69) 91.1%
	);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.App h1,
h3 {
	padding-left: 54px;
	color: white;
}

.App h1 {
	font-size: 52px;
	font-weight: 700;
	padding-top: 135px;
}

.App h3 {
	font-size: 26px;
	margin: 72px 0 15px;
}

.App footer {
	margin-top: 15px;
}

.App footer a {
	text-decoration: none;
	font-weight: 600;
}

.App .portfolioLink {
	color: rgb(33, 25, 180);
	transition: all 325ms ease-in-out;
}

.App .portfolioLink:hover {
	color: rgb(253, 29, 29);
}

.App .githubLink {
	color: rgb(253, 29, 29);
	transition: all 325ms ease-in-out;
}

.App .githubLink:hover {
	color: rgb(33, 25, 180);
}

@media (max-width: 596px) {
	footer {
		margin-top: 10px;
	}
}

@media (max-width: 414px) {
	.App h1,
	h3 {
		padding-left: 15px;
	}

	.App h1 {
		font-size: 46px;
	}

	.App footer {
		margin-bottom: 20px;
		font-size: 13px;
	}
}

@media (max-width: 393px) {
	.App h1,
	h3 {
		padding-left: 14px;
	}

	.App h1 {
		font-size: 42px;
	}

	.App footer {
		font-size: 12px;
	}
}

@media (max-width: 360px) {
	.App h1,
	h3 {
		padding-left: 6px;
	}

	.App h1 {
		font-size: 40px;
	}

	.App h3 {
		font-size: 22px;
	}

	.App footer {
		font-size: 11px;
	}
}
