.App {
	font-family: "Poppins", sans-serif;
	color: rgb(16, 12, 96);
}

.App .container-fluid {
	background: linear-gradient(
		109.6deg,
		rgb(33, 25, 180) 11.2%,
		rgb(253, 29, 29) 55.2%,
		rgb(252, 176, 69) 91.1%
	);
	padding-bottom: 90px;
}

.App h1,
h3 {
	padding-left: 54px;
	color: white;
}

.App h1 {
	font-size: 50px;
	font-weight: 700;
	padding-top: 120px;
}

.App h3 {
	font-size: 24px;
}

.App footer {
	margin-top: 134px;
}

.App footer a {
	text-decoration: none;
	font-weight: 600;
}

.App .portfolioLink {
	color: rgb(33, 25, 180);
	transition: all 325ms ease-in-out;
}

.App .portfolioLink:hover {
	color: rgb(253, 29, 29);
}

.App .githubLink {
	color: rgb(253, 29, 29);
	transition: all 325ms ease-in-out;
}

.App .githubLink:hover {
	color: rgb(33, 25, 180);
}
