.App {
	font-family: "Poppins", sans-serif;
}

.App .container-fluid {
	padding-bottom: 86px;
	background: linear-gradient(
		109.6deg,
		rgb(33, 25, 180) 11.2%,
		rgb(253, 29, 29) 55.2%,
		rgb(252, 176, 69) 91.1%
	);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.App h1,
.subHeading {
	color: white;
	text-align: center;
}

.App h1 {
	font-size: 62px;
	font-weight: 700;
	padding-top: 140px;
}

.App .subHeading {
	font-size: 26px;
	margin-top: 78px;
	margin-right: 518px;
}

.App footer {
	margin: 15px 0 36px 0;
}

.App footer a {
	text-decoration: none;
	font-weight: 600;
}

.App .portfolioLink {
	color: rgb(33, 25, 180);
	transition: all 325ms ease-in-out;
}

.App .portfolioLink:hover {
	color: rgb(253, 29, 29);
}

.App .githubLink {
	color: rgb(253, 29, 29);
	transition: all 325ms ease-in-out;
}

.App .githubLink:hover {
	color: rgb(33, 25, 180);
}

@media (max-width: 871px) {
	.App h1,
	.subHeading {
		text-align: left;
		padding-left: 25px;
	}

	.App h1 {
		font-size: 58px;
	}
}

@media (max-width: 768px) {
	.App .subHeading {
		margin: unset;
		margin-top: 78px;
	}
}

@media (max-width: 596px) {
	footer {
		margin-top: 10px;
		font-size: 12px;
	}
}

@media (max-width: 414px) {
	.App h1,
	.subHeading {
		padding-left: 15px;
	}

	.App h1 {
		font-size: 46px;
	}

	.App footer {
		margin-bottom: 20px;
	}
}

@media (max-width: 393px) {
	.App h1,
	.subHeading {
		padding-left: 14px;
	}

	.App h1 {
		font-size: 42px;
	}
}

@media (max-width: 360px) {
	.App h1,
	.subHeading {
		padding-left: 6px;
	}

	.App h1 {
		font-size: 40px;
	}

	.App .subHeading {
		font-size: 22px;
	}

	.App footer {
		font-size: 11px;
	}
}
