.DictionaryForm form {
	margin-top: -100px;
	margin-left: 66px;
	max-width: 800px;
}

.DictionaryForm button {
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 10px 30px;
	background-color: transparent;
	border: 2px solid white;
	transition: all 325ms ease-in-out;
}

.DictionaryForm button:hover {
	background-color: white;
	border: 2px solid white;
	color: rgb(253, 146, 61);
}

.DictionaryForm .searchBox {
	padding: 10px 15px;
}

@media (max-width: 414px) {
	.DictionaryForm form {
		margin-left: 28px;
	}

	.DictionaryForm button {
		margin-left: -5px;
		padding: 10px;
	}
}

@media (max-width: 390px) {
	.DictionaryForm form {
		margin-left: 24px;
	}
}

@media (max-width: 360px) {
	.DictionaryForm form {
		margin-left: 16px;
	}
}
