.DictionaryForm form,
.searchSuggestions {
	max-width: 800px;
	margin-left: 54px;
}

.DictionaryForm button {
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 10px 30px;
	background-color: transparent;
	border: 2px solid white;
	transition: all 325ms ease-in-out;
}

.DictionaryForm button:hover {
	background-color: white;
	border: 2px solid white;
	color: rgb(253, 146, 61);
}

.DictionaryForm .searchBox {
	padding: 10px 15px;
}

.DictionaryForm .searchSuggestions {
	color: white;
}

.DictionaryForm .container {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 60px;
	border-radius: 2px 83px 2px 83px;
}

@media (max-width: 414px) {
	.DictionaryForm form,
	.searchSuggestions {
		margin-left: 18px;
	}

	.DictionaryForm button {
		margin-left: -5px;
		padding: 10px;
	}

	.DictionaryForm .container {
		margin-left: -13px;
	}
}

@media (max-width: 393px) {
	.DictionaryForm form,
	.searchSuggestions {
		margin-left: 14px;
	}
}

@media (max-width: 360px) {
	.DictionaryForm form,
	.searchSuggestions {
		margin-left: 6px;
	}
}
