.Phonetic {
	height: 60px;
}

.Phonetic a {
	text-decoration: none;
	border: 1px solid #ddd;
	padding: 7px 14px;
	border-radius: 22px;
	margin-right: 5px;
	transition: all 275ms ease-in-out;
	font-size: 14px;
	color: rgb(91, 90, 91);
}

.Phonetic a:hover {
	color: rgb(252, 34, 29);
	font-weight: bold;
}

.Phonetic .text {
	opacity: 0.6;
	font-weight: 300;
}
