.Synonyms {
	margin-top: 10px;
}

.Synonyms span {
	font-size: 14px;
}

.Synonyms li {
	list-style-type: none;
	display: inline-block;
	padding-right: 8px;
	font-size: 14px;
	font-weight: 500;
	text-decoration: underline dotted;
	opacity: 0.7;
}
